name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: apt install libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev cmake
    - name: Run CMake
      run: mkdir build && cd build && cmake ..
    - name: Run make
      run: make
